*.iml
.gradle
.kotlin
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

*.apk
*.aab
*.hprof
_backup*

# ключ подписи и пароли в гит не кладем
keystore.properties
keystore/
*.jks
*.keystore
